{
  "openapi": "3.0.1",
  "info": {
    "title": "pandevita-keycloak-self-registration",
    "version": "0.0.1",
    "description": "PandeVITA Keycloak self registration",
    "contact": {}
  },
  "paths": {
    "/auth": {
      "post": {
        "x-controller-name": "AuthController",
        "x-operation-name": "auth",
        "tags": [
          "AuthController"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "default": "pandevita-dev"
                  },
                  "grant_type": {
                    "type": "string",
                    "default": "password"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": ["password", "username", "client_id", "grant_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return value of AuthController.auth",
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        },
        "operationId": "AuthController.auth"
      }
    },
    "/delete-user": {
      "delete": {
        "x-controller-name": "DeleteUserController",
        "x-operation-name": "deleteUser",
        "tags": [
          "DeleteUserController"
        ],
        "responses": {
          "200": {
            "description": "Return value of DeleteUserController.deleteUser"
          }
        },
        "operationId": "DeleteUserController.deleteUser"
      }
    },
    "/profile": {
      "get": {
        "x-controller-name": "RegistrationController",
        "x-operation-name": "getProfile",
        "tags": [
          "RegistrationController"
        ],
        "responses": {
          "200": {
            "description": "Return value of Profile.GetUser"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration.Filter"
                }
              }
            }
          }
        ],
        "operationId": "RegistrationController.getProfile"
      }
    },
    "/reset-password": {
      "post": {
        "x-controller-name": "ResetPasswordController",
        "x-operation-name": "create",
        "tags": [
          "ResetPasswordController"
        ],
        "responses": {
          "200": {
            "description": "Return value of ResetPasswordController.create"
          }
        },
        "operationId": "ResetPasswordController.create"
      }
    },
    "/users/{id}": {
      "put": {
        "x-controller-name": "RegistrationController",
        "x-operation-name": "replaceById",
        "tags": [
          "RegistrationController"
        ],
        "responses": {
          "200": {
            "description": "Return value of RegistrationController.replaceById"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "x-parser": "raw",
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Keycloak user PUT",
          "required": true,
          "x-parameter-index": 1
        },
        "operationId": "RegistrationController.replaceById"
      },
      "delete": {
        "x-controller-name": "RegistrationController",
        "x-operation-name": "deleteById",
        "tags": [
          "RegistrationController"
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Player DELETE success"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "RegistrationController.deleteById"
      }
    },
    "/users": {
      "post": {
        "x-controller-name": "RegistrationController",
        "x-operation-name": "rawBodyPost",
        "tags": [
          "RegistrationController"
        ],
        "responses": {
          "200": {
            "description": "Return value of RegistrationController.rawBodyPost"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "x-parser": "raw",
              "schema": {
                "$ref": "#/components/schemas/Registration"
              }
            }
          },
          "description": "Keycloak user registration",
          "required": true
        },
        "operationId": "RegistrationController.rawBodyPost"
      },
      "get": {
        "x-controller-name": "RegistrationController",
        "x-operation-name": "userExists",
        "tags": [
          "RegistrationController"
        ],
        "responses": {
          "200": {
            "description": "Return value of RegistrationController.userExists"
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration.Filter"
                }
              }
            }
          }
        ],
        "operationId": "RegistrationController.userExists"
      }
    }
  },
  "servers": [
    {
      "url": "https://gateway.pandevita.d.lst.tfo.upm.es"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Buffer": {},
      "AuthResponse": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "grant_type": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "Registration.Filter": {
        "type": "object",
        "title": "Registration.Filter",
        "properties": {
          "offset": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "example": 100
          },
          "skip": {
            "type": "integer",
            "minimum": 0
          },
          "order": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "where": {
            "title": "Registration.WhereFilter",
            "type": "object",
            "additionalProperties": true
          },
          "fields": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "boolean"
                  },
                  "firstName": {
                    "type": "boolean"
                  },
                  "lastName": {
                    "type": "boolean"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "boolean"
                  },
                  "attributes": {
                    "type": "boolean"
                  },
                  "role": {
                    "type": "boolean"
                  },
                  "credentials": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "username"
                },
                "uniqueItems": true
              }
            ],
            "title": "Registration.Fields"
          }
        },
        "additionalProperties": false,
        "x-typescript-type": "@loopback/repository#Filter<Registration>"
      },
      "Registration": {
        "type": "object",
        "title": "Registration",
        "properties": {
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              }
            }
          },
          "credentials": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "temporary": {
                "type": "boolean"
              }
            }
          },
          "headers": {
            "type": "object",
            "properties": {
              "Content-Type": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        }
      }
    }
  }
}
